.container-row {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
   
}

.container {
    flex-basis: 50%;
    text-align: center;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.content{
    margin:0 130PX;
    padding-bottom:200px;
}

