.intro{
    width: 1400px;
    text-align: center;
padding-left: 50px;
}

h3 mb-3 fw-normal {
    font-weight: 400;
    font-size: medium;
}
.form-floating {
    display: flex;
    justify-content: space-around;
    padding: 0.5px;

}
.btn-btn-primary-w-100-py-2{
    display: inline-block;
    background-color: #5a56e8;
    color: #fff;
    padding: 5px 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}
footer {
    background-color:#333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
.form-floating {
    width: 400px;
}
.main-box {
    border: #333;
    border-radius: 20px;
}
.signin-box{
    width: 500px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 50px;
}